*{/*所有设置为0*/
	margin: 0 auto;
	padding: 0;
	
	}
li,a{
	list-style-type: none;/*li的点去掉*/
	text-decoration: none;/*a标签的下划线去掉*/
    }
 /*头部的样式*/
#header{
	width: 100%;
	height: 500px;
	}
#header .banner{
	width: 100%;
	height: 450px;
	overflow: hidden;/*隐藏多余的部分*/
	}
#header .banner img{
	width: 100%;	
	}
#header .circle{
	width:100% ;
	height: 20px;
	border: 1px solid red;
	text-align: center;/*居中对齐*/
	}
#header span{/*找。。。后面的span*/
	display: inline-block;/*行级块级显示，目的：行级标签可以设置宽高*/
	width: 10px;
	height: 10px;
	border: 1px solid #CECECE;
	border-radius: 50%;/*设置成圆*/
	}
#header .active{
	background: #848482;
	}
.nav{
	width: 100%;
	height: 100px;
	background-color: black;

}
#header .nav_t{
	width: 1000px;
	height: 30px;
}
#header .camera{
	color: white;
	font-size: 12px;
	margin-top: 3px;
	float: left;
}
#header .contact{
	float: right;
	
}#header .nav_b{
	width: 1000px;
	height: 70px;
	
}
#header .logo{
	width: 121px;
	float: left;
	
}
#header .nav_menu{
	width: 600px;
	height: 70px;
	line-height: 70px;/*设置线高*/
	float: left;/*浮动*/
	margin-left: 30px;/*调整左边距*/
	
}
#header .nav li{
	float: left;
	margin-right: 15px;
	letter-spacing: 2px;/*设置字边距*/
	
}
#header .nav_menu a{
	color: white;
	font-size: 15px;/*文字大小*/
	font-weight: bold;
	
}
#header .search{
	width: 245px;
	height: 65px;
	background: url(../image/search_border.jpg)no-repeat  center;/*引入图片 不平铺 X轴靠右对齐 
	y轴*/
	float: right;/*右浮动*/
	
}
#header input{
	margin-left:25px;
	margin-top: 25px;
	background: black;
	color: white;
	border: 0;/*文本框的边框设置为零*/
	outline: none;
	
}
#header .nav_menu .active{
	background: black;
}
#header .nav_menu li:hover{/*当鼠标悬浮上去*/
	background: #001952;
	
}
